.comments {
    margin-top: 150px;

    .card {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 120px;

        .sec_title {
            margin-bottom: 50px;
            position: absolute;
            top: -85px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            font-size: 25px;
            font-weight: bold;
            text-align: center;

            .title {
                backdrop-filter: blur(10px);
                border-radius: 10px;
                color: #fff;
                font-size: 23px;
                padding: 15px 30px;
            }
        }

        .comment_form {
            position: sticky;
            top: 120px;
            background-color: #f5f7fa;
            padding: 15px;
            border-radius: 15px;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: stretch;

            .input_box {
                position: relative;
                margin-bottom: 15px;

                input:focus-visible,
                textarea:focus-visible {
                    border: 2px solid #ccb140;
                }

                input,
                select,
                textarea {
                    width: 100%;
                    color: #000;
                    font-family: "dana";
                    font-weight: 200;
                    font-size: 15px;
                    border: 2px solid #fff;
                    transition: all 0.3s;
                    padding: 15px 12px;
                    border-radius: 12px;
                    background-color: #fff;
                }

                textarea {
                    resize: none;
                    height: 120px;
                }

                &.bottom {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    border-radius: 12px;
                    width: max-content;
                    margin-inline: auto;
                    padding-right: 6px;

                    input {
                        width: 89px;
                        padding-block: 13px;
                        font-size: 13px;
                        font-weight: 200;
                        padding-inline: 0;
                        text-align: center;
                        margin-right: 2px;
                    }
                }

                .bottom.code {
                    padding-left: 5px;
                    mix-blend-mode: multiply;
                    width: 60px;
                    border-left: 1px dashed #000;
                }

            }

            .submit {
                width: 100%;
                padding-block: 18px;
                font-family: "dana";
                cursor: pointer;
                background-color: #242424;
                border: 1px solid #e9eef6;
                color: #fff;
                font-weight: 200;
                font-size: 16px;
                padding: 15px 25px;
                border-radius: 12px;
                transition: all 0.3s;

                &:hover {
                    background-color: #ccb140;
                }
            }
        }

        .main_card {
            width: 73%;

            .comment_item {
                background-color: #f6f8fc;
                border-radius: 15px;
                padding: 20px;

                .head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    .name {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .user_image {
                            border-radius: 50px;
                            width: 40px;
                        }

                        .title {
                            font-weight: 300;
                            font-size: 18px;
                            color: #ccb140;
                        }
                    }

                    .date {
                        font-size: 13px;
                        color: #939393;
                        font-weight: 200;
                    }
                }

                .main_desc {
                    font-size: 15px;
                    text-align: justify;
                    font-weight: 200;
                    color: #7f7f7f;
                    padding-inline: 15px;
                    line-height: 2.3;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                }

                .actions {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 13px;
                    margin-top: 12px;
                }

                .actions {
                    li {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        color: #6c6c6c;
                        transition: all 0.3s;
                        cursor: pointer;

                        &:hover {
                            color: #ccb140;
                        }

                        span {
                            &.num {
                                font-size: 16px;
                                font-weight: 200;
                            }

                            &.icon {
                                font-size: 20px;
                            }
                        }

                    }
                }
            }

            .comment_item.reply {
                margin-right: 70px;
            }

            .comment_item:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
    // bottom: -180px;
    margin: 150px 0 35px;

    .item-social {
        padding: 0 10px;
    }

    .icon-social {
        font-size: 28px;
        color: #948f8d;
        transition: all 0.3s;

        &:hover {
            color: #fff;
        }
    }
}


//Responsive
@media screen and (max-width: 1024px) {

    .comments {
        .card {
            .comment_form {
                width: 33%;
            }

            .main_card {
                width: 65%;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .comments {
        .card {
            flex-direction: column-reverse;
            align-items: center;

            .main_card {
                width: 100%;
                margin-bottom: 30px;
            }

            .comment_form {
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 425px) {

    .comments {
        .card {
            flex-direction: column-reverse;
            align-items: center;

            .main_card {
                width: 100%;
                margin-bottom: 30px;

                .comment_item.reply {
                    margin-right: 30px;
                }
            }

            .comment_form {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .comments {
        .card {
            .sec_title {
                .title {
                    font-size: 18px;
                }
            }

            .main_card {
                .comment_item {
                    padding: 20px 10px;

                    .head {
                        .name {
                            .title {
                                font-weight: 300;
                                font-size: 16px;
                            }
                        }

                        .date {
                            font-size: 11px;
                        }
                    }

                    .main_desc {
                        font-size: 13px;
                    }

                    .actions {
                        li {
                            span.num {
                                font-size: 13px;
                            }
                        }
                    }
                }

                .comment_item.reply {
                    margin-right: 20px;
                }
            }

            .comment_form {
                .input_box {
                    textarea {
                        font-size: 14px;
                    }
                }

                .submit {
                    font-size: 14px;
                }
            }
        }
    }

    .social {
        .item-social {
            padding: 0 7px;
        }
    }
}