section.showPost {

    .nav {
        background: #fff;
        z-index: 2;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
        min-height: 70px;

        .con-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .lang {
            .text-lang {
                color: #000;
                font-weight: bold;
            }
        }
    }

    .breadcrumb {
        top: 100px;

        a {
            color: #000;
            font-weight: bold;
        }
    }

    .bg {
        width: 99%;
        height: 98vh;
        margin: 10px;
        position: fixed;
        z-index: -1;

        &::after {
            content: "";
            width: 100%;
            height: 45%;
            display: block;
        }
    }


    .post {
        border-radius: 23px;
        position: relative;
        top: 105px;
        margin: 0 0 50px 0;

        .head {

            .imageHead {
                width: 100%;
                height: 540px;
                object-fit: cover;
                margin-bottom: 20px;
                border-radius: 15px;
            }

            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title-info {
                    color: #000;
                    font-weight: 300;
                }
            }

            .post-info {
                margin-top: 10px;

                .avatar-info {
                    max-width: 30px;
                    vertical-align: middle;
                }

                .avatar-link {
                    color: #cc3333;
                    font-size: 13px;
                    margin-right: 5px;
                    font-weight: 200;
                }

                span {
                    color: #7d7d7d;
                    font-size: 13px;
                    position: relative;
                    margin-right: 10px;
                    padding-right: 10px;
                    font-weight: 200;

                    &::before {
                        content: "";
                        width: 4px;
                        height: 4px;
                        background: #cc3333;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        margin-top: -2px;
                        display: block;
                        right: -2px;
                    }
                }
            }
        }

        .content {
            margin-top: 20px;

            p {
                line-height: 3.2;
                font-size: 16px;
                color: #7a7a7a;
                margin-bottom: 25px;
                text-align: justify;
            }

            a {
                color: #cc3333;
            }

            h2 {
                font-size: 22px;
                margin-bottom: 15px;
            }

            h3 {
                font-size: 20px;
                margin-bottom: 5px;
            }

            h4 {
                font-size: 18px;
                margin-bottom: 5px;
            }

            h5 {
                font-size: 16px;
                margin-bottom: 5px;
            }

            h6 {
                font-size: 14px;
                margin-bottom: 5px;
            }

            img {
                margin-bottom: 20px;
                height: 300px;
                object-fit: cover;
                border-radius: 13px;
                margin-block: 20px;
            }

            .justify-content-center {
                display: flex;
                justify-content: center;

                .item-content {
                    margin: 0 10px;
                    cursor: pointer;
                }
            }

            ul,
            ol {
                margin-block: 30px;
                font-size: 16px;
                color: #323232;

                li {
                    margin: 15px 20px;
                    line-height: 1.5;

                    ul,
                    ol {
                        margin: 0;
                        color: #5c5c5c;

                        li {
                            font-size: 14px;
                            line-height: 1.5;
                        }
                    }
                }
            }

            ul {
                li {
                    list-style-type: disc;
                }
            }

            ol {
                li {
                    list-style-type: decimal;

                }
            }

            .inner_link {
                background-color: #000;
                color: #fff;
                transition: all 0.3s;
                font-weight: 200;
                border-radius: 10px;
                padding: 15px 25px;

                &:hover {
                    background-color: #cc3333;
                }
            }
        }
    }
}

//Responsive
@media screen and (max-width: 1024px) {
    section.showPost {
        .bg {
            margin: 9px 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    section.showPost {
        .post {
            .head {
                .imageHead {
                    height: 330px;
                }
            }

            .content {
                .justify-content-center {
                    .item-content {
                        width: 49%;
                    }
                }

                .img-content {
                    height: 232px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    section.showPost {
        .bg {
            margin: 9px 2px;
        }

        .post {
            .content {
                .justify-content-center {
                    flex-direction: column;

                    .item-content {
                        width: 100%;
                        margin: 0;
                    }
                }
            }

            .head {
                .post-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 103px;
                }
            }

        }

        ul.breadcrumb {
            padding-right: 15px;
        }
    }
}

@media screen and (max-width: 375px) {
    section.showPost {

        &::after,
        &::before {
            display: none;
        }

        .bg {
            margin: 0;
            width: 100%;
            height: 100vh;
            border-radius: 0;
        }

        .post {
            .content {
                .img-content {
                    height: 190px;
                    margin: 10px 0;
                }

                .text-content {
                    line-height: 2.5;
                }
            }

            .head {
                .imageHead {
                    height: 200px;
                }

                .info {
                    .title-info {
                        font-size: 25px;
                    }
                }
            }

        }
    }
}