@font-face {
    font-family: dana;
    font-weight: 600;
    src: url("/fonts/woff/Dana-Regular.woff") format('woff'), url("/fonts/woff2/Dana-Medium.woff2") format('woff2');
    font-family: dana;
    font-weight: 900;
    src: url("/fonts/woff/Dana-Medium.woff") format('woff'), url("/fonts/woff2/Dana-Medium.woff2") format('woff2');
}

/*---------------Icomoon----------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icons/icomoon.eot?yyscp1');
  src:  url('/fonts/icons/icomoon.eot?yyscp1#iefix') format('embedded-opentype'),
  url('/fonts/icons/icomoon.ttf?yyscp1') format('truetype'),
  url('/fonts/icons/icomoon.woff?yyscp1') format('woff'),
    url('/fonts/icons/icomoon.svg?yyscp1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Minus:before {
  content: "\e922";
}
.icon-Arrow-Down:before {
  content: "\e900";
}
.icon-Arrow-Down-2:before {
  content: "\e901";
}
.icon-Arrow-Left:before {
  content: "\e902";
}
.icon-Arrow-Left-2:before {
  content: "\e903";
}
.icon-Arrow-Right:before {
  content: "\e904";
}
.icon-Arrow-Right-2:before {
  content: "\e905";
}
.icon-Arrow-Up:before {
  content: "\e906";
}
.icon-Arrow-Up-2:before {
  content: "\e907";
}
.icon-Buy1:before {
  content: "\e909";
}
.icon-Calling:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-Profile:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e921";
}
.icon-letter:before {
  content: "\e919";
}
.icon-ring:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e908";
}
.icon-setting:before {
  content: "\e92d0";
}
.icon-close:before {
  content: "\e91a";
}
.icon-cabinet-1:before {
  content: "\e916";
}
.icon-cabinet-2:before {
  content: "\e918";
}
.icon-cabinet-3:before {
  content: "\e917";
}
.icon-cabinet-4:before {
  content: "\e91b";
}
.icon-cabinet-5:before {
  content: "\e91c";
}
.icon-cabinet-6:before {
  content: "\e91d";
}
.icon-cabinet-7:before {
  content: "\e915";
}
.icon-cabinet-8:before {
  content: "\e91e";
}
.icon-Linkedin:before {
  content: "\e90c";
}
.icon-Instagram:before {
  content: "\e90e";
}
.icon-Facebook:before {
  content: "\e90f";
}
.icon-Aparat:before {
  content: "\e911";
}
.icon-Telegram:before {
  content: "\e912";
}
.icon-Pinterest:before {
  content: "\e913";
}
.icon-Twitter:before {
  content: "\e914";
}
.icon-Whatsapp:before {
  content: "\e91f";
}
.icon-Play:before {
  content: "\e920";
}
