.blog{
    backdrop-filter: blur(5px);
    .card{

        .text-blog{
            display: flex;
            align-items: center;

            .icon-blog{
                color: #ccb140;
            }

            .titr-blog{
                color: #fff;
            }
        }
    }
}