section.hero {

    .lang {
        position: absolute;
        left: 30px;
        top: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .text-lang {
            color: #fff;
            direction: ltr;
            margin-right: 4px;
            font-size: 17px;
        }

        .flag {
            border-radius: 50px;
            margin: 1px 4px -1px;
            overflow: hidden;
            width: 32px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: grayscale(100%);
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                filter: grayscale(0%);
            }
        }
    }

    .bg-hero {
        background-image: url(/public/img/hero/home.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        height: 98vh;
        margin: 10px;
        position: fixed;
        border-radius: 10px;
        z-index: -1;

        &::after {
            content: "";
            background-image: url(/public/images/shadowHome.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 45%;
            display: block;
            border-radius: 10px 10px 0 0;
        }
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        margin-top: -55px;

        .content {
            display: flex;
            flex-direction: column;
            width: 400px;
            min-height: 100px;
            align-items: center;

            .logoHome {
                width: 300px;
                height: 46px;

                .img-logoHome{
                    width: 250px;
                    position: relative;
                    right: 20px;
                }
            }

            .categorys {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 88%;
                margin: 40px 0;

                .item-catgory {
                    border: 1px solid #ffffff3d;
                    backdrop-filter: blur(4px);
                    border-radius: 10px;
                    width: 82px;
                    height: 82px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all 0.3s;

                    .icon-catgory {
                        font-size: 33px;
                        color: #ffffff3d;
                        transition: all 0.3s;
                    }

                    &:hover {
                        border: 1px solid #fff;

                        .icon-catgory {
                            color: #fff;
                        }
                    }

                }
            }

            .movieBox {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 45px;

                .icon-movie {
                    font-size: 55px;
                    color: #fff;
                    cursor: pointer;
                    transition: all 0.35s;
                    position: relative;
                    z-index: 1;
                }

                .text-movie {
                    color: #fff;
                    margin-right: 5px;
                    cursor: pointer;
                    transition: all 0.35s;
                }

                &:hover {
                    .icon-movie {
                        font-size: 70px;
                        transform: translateX(-87px) scale(1);
                    }

                    .text-movie {
                        opacity: 0;
                        transform: translateX(50px);
                    }
                }
            }

            .modal {
                display: none;
                position: fixed;
                z-index: 2;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #ffffff24;
                backdrop-filter: blur(15px);
            }

            .modal-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                max-width: 1000px;
            }

            .close {
                color: #ffffff;
                /* float: left; */
                font-size: 52px;
                font-weight: bold;
                position: absolute;
                left: 40px;
                top: 20px;
                transition: all 0.3s;
            }

            .close:hover,
            .close:focus {
                color: #cc3333;
                text-decoration: none;
                cursor: pointer;
            }

            video {
                width: 100%;
                height: auto;
                border-radius: 15px;
            }




        }
    }
}

//Responsive
@media screen and (max-width: 2560px) {
    section.hero {
        .bg-hero::after {
            height: 500px;
        }

        .bg-hero {
            margin: 7px;
        }

        .card .content .close {
            font-size: 70px;
            left: 65px;
            top: 25px;
        }
    }
}

@media screen and (max-width: 1440px) {
    section.hero {
        .bg-hero {
            margin: 7px;
        }

        .card {
            .content {
                .close {
                    font-size: 52px;
                    left: 40px;
                    top: 20px;
                }

                .modal-content {
                    max-width: 915px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    section.hero {
        .bg-hero {
            margin: 5px;
            height: 99vh;
        }
    }
}

@media screen and (max-width: 1024px) {
    section.hero .card .content .categorys {
        width: 85%;
    }

    section.hero .card .content .categorys .item-catgory {
        width: 78px;
        height: 78px;
    }
}

@media screen and (max-width: 425px) {
    section.hero .bg-hero {
        margin: 2px;
        height: 99.5vh;
    }

    section.hero .card .content .close {
        font-size: 45px;
    }
}

@media screen and (max-width: 375px) {
    .slider .card .sliderBox {
        width: 240px;
        left: 55px;
    }

    section.hero .card .content .categorys .item-catgory {
        width: 69px;
        height: 69px;
    }

}
@media screen and (max-width: 320px) {
    section.hero .card .content .categorys {
        margin: 28px 0;
    }
    section.hero .card .content .categorys .item-catgory {
        width: 60px;
        height: 60px;
    }
    section.hero .card .content .categorys .item-catgory .icon-catgory {
        font-size: 30px;
    }
}