.slider {
    margin: -180px 0 100px 0;

    .card {
        direction: ltr;
        margin-top: -20px;

        .text-slider {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            width: 730px;
            margin: 0 0 25px 0;
            padding: 0 40px;

            .titr-slider {
                display: flex;
                align-items: center;

                .img-titrSlider {
                    width: 20px;
                }

                .text-titrSlider {
                    color: #fff;
                    margin-right: 9px;
                    margin-bottom: 4px;

                }
            }

            .down-katalog {
                backdrop-filter: blur(20px);
                display: flex;
                align-items: center;
                border: 1px solid #ABB5C6;
                border-radius: 20px;
                padding: 8px 10px;
                transition: all 0.3s;
                cursor: pointer;

                .icon-Katalog {
                    color: #ABB5C6;
                    font-size: 13px;
                    transition: all 0.3s;
                }

                .text-Katalog {
                    color: #ABB5C6;
                    font-size: 13px;
                    margin-right: 5px;
                    transition: all 0.3s;
                }

                &:hover {
                    border: 1px solid #fff;

                    .icon-Katalog {
                        color: #fff;
                    }

                    .text-Katalog {
                        color: #fff;
                    }
                }
            }
        }

        .sliderBox {
            width: 730px;

            .item-slider {
                margin: 0 10px;
                overflow: hidden;
                width: 224px;
                height: 322px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;

                .imgSlider {
                    width: 100%;
                    height: 100%;
                }
            }

            .slick-next:before,
            .slick-prev:before {
                font-size: 35px;
                transition: all 0.3s;
            }

            .slick-next {
                right: -40px;
            }
        }

        .calling {
            display: flex;
            align-items: center;
            border: 1px solid #7a7a7a;
            backdrop-filter: blur(20px);
            border-radius: 25px;
            padding: 12px;
            width: 150px;
            justify-content: center;
            position: relative;
            bottom: 204px;
            float: right;
            transition: all 0.3s;
            cursor: pointer;

            .icon-call {
                color: #7a7a7a;
                font-size: 20px;
                transition: all 0.3s;
            }

            .text-call {
                color: #7a7a7a;
                font-size: 12px;
                margin-right: 5px;
                margin-top: 2.79px;
                direction: ltr;
                transition: all 0.3s;
            }

            &:hover {
                border: 1px solid #ccb140;

                .icon-call {
                    color: #ccb140;
                }

                .text-call {
                    color: #ccb140;
                }
            }
        }
    }
}

//Responsive
@media screen and (max-width: 2560px) {
    .slider {
        margin: -200px 0 100px 0;
    }
}

@media screen and (max-width: 1440px) {
    .slider {
        margin: -180px 0 100px 0;
    }
}

@media screen and (max-width: 1024px) {
    .slider {

        .card {

            .sliderBox {

                .slick-next:before,
                .slick-prev:before {
                    font-size: 30px;
                    transition: all 0.3s;
                }
            }

            .slick-prev {
                left: -30px;
            }

            .calling {
                border: 1px solid #fff;

                .icon-call {
                    color: #fff;
                }

                .text-call {
                    color: #fff;
                }
            }

            .sliderBox {
                width: 490px;
                left: 32px;
            }

            .text-slider {
                width: 555px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .slider .card {
        margin-top: 7px;

        .sliderBox {
            width: 435px;
            left: 30px;

            .item-slider {
                margin: 0 10px;
                overflow: hidden;
                width: 224px;
                height: 280px;
            }
        }

        .text-slider {
            width: 495px;
        }
    }
}

@media screen and (max-width: 425px) {
    .slider .card .calling {
        bottom: -20px;
    }

    .slider .card .sliderBox {
        width: 312px;
        left: 45px;
    }

    .slider .card .sliderBox {
        width: 255px;
        left: 73px;
    }

    .slider .card .text-slider {
        width: 405px;
        padding: 0 35px;
    }

    .slider .card .text-slider .titr-slider .text-titrSlider {
        font-size: 16px;
    }

    .slider .card .text-slider .titr-slider .img-titrSlider {
        width: 19px;
    }

    .slider .card .text-slider .down-katalog .text-Katalog {
        font-size: 12px;
    }

    .slider .card .text-slider .down-katalog .icon-Katalog {
        font-size: 12px;
    }

    .slider .card .text-slider {
        width: 405px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 375px) {
    .slider .card .sliderBox {
        width: 240px;
        left: 55px;
    }

    .slider .card .text-slider {
        width: 352px;
        padding: 0 22px;
    }
}
@media screen and (max-width: 320px) {
    .slider .card .text-slider {
        width: 300px;
        padding: 0 5px;
    }
    .slider .card .sliderBox {
        width: 217px;
        left: 40px;
    }
}