.slider {
    margin: -180px 0 100px 0;

    .card {
        direction: ltr;
        margin-top: -20px;

        .text-slider {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            width: 730px;
            margin: 0 0 25px 0;
            padding: 0 40px;

            .titr-slider {
                display: flex;
                align-items: center;

                .img-titrSlider {
                    width: 20px;
                }

                .text-titrSlider {
                    color: #fff;
                    margin-right: 9px;
                    margin-bottom: 4px;

                }
            }

            .down-katalog {
                backdrop-filter: blur(20px);
                display: flex;
                align-items: center;
                border: 1px solid #ABB5C6;
                border-radius: 20px;
                padding: 8px 10px;
                transition: all 0.3s;
                cursor: pointer;

                .icon-Katalog {
                    color: #ABB5C6;
                    font-size: 13px;
                    transition: all 0.3s;
                }

                .text-Katalog {
                    color: #ABB5C6;
                    font-size: 13px;
                    margin-right: 5px;
                    transition: all 0.3s;
                }

                &:hover {
                    border: 1px solid #fff;

                    .icon-Katalog {
                        color: #fff;
                    }

                    .text-Katalog {
                        color: #fff;
                    }
                }
            }
        }

        .sliderBox {
            width: 730px;

            .item-slider {
                margin: 0 10px;
                overflow: hidden;
                width: 224px;
                height: 322px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                position: relative;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: rgb(255, 255, 255);
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15%, rgba(0, 0, 0, 1) 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 15px;
                }

                .imgSlider {
                    width: 100%;
                    height: 100%;
                }

                .text-itemSlider {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: #fff;
                    z-index: 1;
                    padding: 15px;

                    .titr-itemSlider {
                        font-size: 16px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 1;
                        transform: translateY(0px);
                        transition: all 0.3s;
                    }
                }

                &:hover {
                    .text-itemSlider {
                        .titr-itemSlider {
                            transform: translateY(-5px);
                        }
                    }
                }
            }

            .slick-next:before,
            .slick-prev:before {
                font-size: 35px;
                transition: all 0.3s;
            }

            .slick-next {
                right: -40px;
            }
        }

        .calling {
            display: flex;
            align-items: center;
            border: 1px solid #7a7a7a;
            backdrop-filter: blur(20px);
            border-radius: 25px;
            padding: 12px;
            width: 150px;
            justify-content: center;
            position: relative;
            bottom: 204px;
            float: right;
            transition: all 0.3s;
            cursor: pointer;

            .icon-call {
                color: #7a7a7a;
                font-size: 20px;
                transition: all 0.3s;
            }

            .text-call {
                color: #7a7a7a;
                font-size: 12px;
                margin-right: 5px;
                margin-top: 2.79px;
                direction: ltr;
                transition: all 0.3s;
            }

            &:hover {
                border: 1px solid #ccb140;

                .icon-call {
                    color: #ccb140;
                }

                .text-call {
                    color: #ccb140;
                }
            }
        }
    }
}

/*-------------------------------*/
.fancybox__caption {
    box-sizing: inherit;
}
.fancybox-image {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 0;
    object-fit: contain;
    user-select: none;
    filter: blur(0px);
}
/*-------------------------------*/

//Responsive
@media screen and (max-width: 2560px) {
    .slider {
        margin: -200px 0 100px 0;
    }
}

@media screen and (max-width: 1440px) {
    .slider {
        margin: -180px 0 100px 0;
    }
}

@media screen and (max-width: 1024px) {
    .slider {

        .card {

            .sliderBox {

                .slick-next:before,
                .slick-prev:before {
                    font-size: 30px;
                    transition: all 0.3s;
                }
            }

            .slick-prev {
                left: -30px;
            }

            .calling {
                border: 1px solid #fff;

                .icon-call {
                    color: #fff;
                }

                .text-call {
                    color: #fff;
                }
            }

            .sliderBox {
                width: 490px;
                left: 32px;
            }

            .text-slider {
                width: 555px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .slider .card {
        margin-top: 7px;

        .sliderBox {
            width: 435px;
            left: 30px;

            .item-slider {
                margin: 0 10px;
                overflow: hidden;
                width: 224px;
                height: 280px;
            }
        }

        .text-slider {
            width: 495px;
        }
    }
}

@media screen and (max-width: 425px) {
    .slider {
        .card {
            .calling {
                bottom: -20px;
            }

            .sliderBox {
                width: 255px;
                left: 73px;
            }

            .text-slider {
                width: 405px;
                padding: 0 40px;

                .titr-slider {
                    .text-titrSlider {
                        font-size: 16px;
                    }

                    .img-titrSlider {
                        width: 19px;
                    }
                }

                .down-katalog {
                    .text-Katalog {
                        font-size: 12px;
                    }

                    .icon-Katalog {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .slider {
        .card {
            .sliderBox {
                width: 240px;
                left: 55px;
            }

            .text-slider {
                width: 352px;
                padding: 0 22px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .slider {
        .card {
            .text-slider {
                width: 300px;
                padding: 0 5px;
            }
            .sliderBox {
                width: 217px;
                left: 40px;
            }
        }
    }
}