section.showBlog {

    &::after {
        content: "";
        width: 100%;
        height: 10px;
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        z-index: 1;
    }

    &::before {
        content: "";
        width: 100%;
        height: 8px;
        background: #fff;
        position: fixed;
        bottom: 0;
        right: 0;
        display: block;
        z-index: 1;
    }

    .bg {
        background-image: url(/public/img/hero/home.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        height: 98vh;
        margin: 10px;
        position: fixed;
        border-radius: 10px;
        z-index: -1;

        &::after {
            content: "";
            background-image: url(/public/images/shadowHome.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 45%;
            display: block;
            border-radius: 10px 10px 0 0;
        }
    }

    ul.breadcrumb {
        top: 90px;
    }



    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .bg-blog {
            background: #fff;
            width: 100%;
            min-height: 500px;
            position: relative;
            top: 95px;
            border-radius: 25px;
            margin-bottom: 180px;

            .back {
                display: inline-block;
                position: absolute;
                left: 55px;
                top: 35px;
                direction: ltr;
                transition: all 0.3s;

                &:hover {
                    color: #cc3333;
                }
            }


            .text-blog {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                position: absolute;
                top: 50px;
                left: 0;
                right: 0;

                .icon-blog {
                    color: #cc3333;
                    margin: 0 0 4px 5px;
                    font-size: 22px;
                }

                .titr-blog {
                    color: #000000;
                    margin-right: 5px;
                }
            }

            .main-card {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                margin: 120px auto;
                margin-bottom: 30px;


                #filterBtn {
                    background-color: #cc3333;
                    border-radius: 5px;
                    color: #fff;
                    display: none;
                    font-size: 13px;
                    padding: 15px 43px;
                    text-align: center;
                    position: relative;
                    top: -15px;
                    right: -215px;

                }

                .filter {
                    width: 330px;
                    border-radius: 15px;
                    z-index: 2;

                    .box-filter {
                        min-height: 530px;
                        overflow-y: auto;
                        direction: ltr;

                        &::-webkit-scrollbar-track {
                            padding: 2px 0;
                            background-color: #e2e1e1;
                            border-radius: 10px;
                        }

                        &::-webkit-scrollbar {
                            width: 4px;
                            border-radius: 10px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #cc3333;
                            border-radius: 5px;
                        }

                        li {
                            display: flex;
                            justify-content: space-between;
                            padding-block: 23px;
                            align-items: center;
                            border-bottom: 1px solid #e9eef6;
                            margin-inline: 18px;
                            direction: rtl;
                            background-color: #fff;
                            cursor: pointer;

                            &:last-child {
                                border-bottom: unset;
                            }

                            &:hover {
                                .item-filter {
                                    span {
                                        color: #cc3333;
                                    }
                                }
                            }

                            &.active {
                                position: sticky;
                                top: 0;
                                border-color: #cc3333;

                                .item-filter {
                                    span {
                                        color: #cc3333;
                                    }
                                }
                            }

                            .item-filter {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;

                                span {
                                    color: #767676;
                                    transition: all 0.3s;

                                    &.title-itemFilter {
                                        font-size: 15px;
                                    }

                                    &.icon-filter {
                                        width: 20px;
                                        font-size: 25px;
                                    }
                                }

                            }
                        }
                    }
                }

                .blogBox {
                    direction: ltr;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    overflow: hidden;
                    width: 72%;
                    min-height: 530px;
                    direction: rtl;

                    .item-blog {
                        margin: 5px;
                        display: block;
                        width: 365px;
                        height: 518px;
                        overflow: hidden;
                        border-radius: 15px;
                        flex-shrink: 0;
                        position: relative;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            display: block;
                            background: rgb(255, 255, 255);
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15%, rgba(0, 0, 0, 1) 100%);
                            position: absolute;
                            top: 0;
                            left: 0;
                            border-radius: 15px;
                        }

                        .imgBlog {
                            border-radius: 15px;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }

                        .textBox-itemBlog {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            color: #fff;
                            z-index: 1;
                            padding: 15px;

                            .titr-itemBlog {
                                font-size: 18px;
                                margin: 15px 0;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                transform: translateY(100px);
                                transition: all 0.5s;
                            }

                            .text-itemBlog {
                                text-align: justify;
                                font-size: 14.5px;
                                line-height: 1.7;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 4;
                                white-space: normal;
                                opacity: 0;
                                transform: translateY(120px);
                                transition: all 0.5s;
                            }
                        }

                        &:hover {
                            .textBox-itemBlog {
                                .titr-itemBlog {
                                    font-size: 20px;
                                    transform: translateY(0px);
                                }

                                .text-itemBlog {
                                    opacity: 1;
                                    transform: translateY(0px);
                                }
                            }
                        }
                    }
                }
            }

            .social {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                bottom: -55px;

                .item-social {
                    padding: 0 10px;

                }

                .icon-social {
                    font-size: 28px;
                    color: #948f8d;
                    transition: all 0.3s;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .pagination-small {
                display: none !important;
            }

            .pagination,
            .pagination-small {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 1;

                li {
                    &:not(:last-child) {
                        margin-left: 2px;
                    }

                    &.active {
                        .link {
                            &:not(.arrow) {
                                background-color: #cc3333;
                                color: #fff;
                            }
                        }
                    }

                    .link {
                        border-radius: 50%;
                        width: 45px;
                        height: 45px;
                        padding: 3px 0px;
                        color: #cc3333;
                        font-size: 18px;
                        display: block;
                        text-align: center;
                        transition: all 0.3s;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:not(:last-child) {
                            margin-left: 17px;
                        }

                        &:not(.arrow) {
                            &:hover {
                                background-color: #cc3333;
                                color: #fff;
                            }
                        }

                        &.arrow {
                            width: 106px;
                            border-radius: 40px;
                            color: #888888;
                            justify-content: end;
                            justify-content: center;
                            display: flex;
                            align-items: center;

                            &:hover {
                                color: #cc3333;

                                .icon {
                                    background-color: #cc3333;
                                    color: #fff;
                                }
                            }

                            &.prev {
                                padding-left: 8px;

                                .icon {
                                    margin-right: 12px;
                                }
                            }

                            &.next {
                                padding-right: 8px;

                                .icon {
                                    margin-left: 12px;
                                }
                            }

                            .icon {
                                background-color: #ecf6ff;
                                color: #cc3333;
                                border-radius: 50%;
                                font-size: 18px;
                                display: inline-block;
                                transition: all 0.3s;
                                width: 45px;
                                height: 45px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }

            .modalFilter {
                background-color: #fff;
                height: 100%;
                width: 260px;
                position: fixed;
                right: 0;
                top: 0;
                transform: translateX(290px);
                transition: all 0.5s;
                z-index: 3;

                .box-filter {
                    height: 100%;
                    overflow-y: auto;
                    direction: ltr;

                    &::-webkit-scrollbar-track {
                        padding: 2px 0;
                        background-color: #e2e1e1;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #cc3333;
                        border-radius: 5px;
                    }

                    li {
                        display: flex;
                        justify-content: space-between;
                        padding-block: 23px;
                        align-items: center;
                        border-bottom: 1px solid #e9eef6;
                        margin-inline: 18px;
                        direction: rtl;
                        background-color: #fff;
                        cursor: pointer;

                        &:last-child {
                            border-bottom: unset;
                        }

                        &:hover {
                            .item-filter {
                                span {
                                    color: #cc3333;
                                }
                            }
                        }

                        &.active {
                            position: sticky;
                            top: 0;
                            border-color: #cc3333;

                            .item-filter {
                                span {
                                    color: #cc3333;
                                }
                            }
                        }

                        .item-filter {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            span {
                                color: #767676;
                                transition: all 0.3s;

                                &.title-itemFilter {
                                    font-size: 15px;
                                }

                                &.icon-filter {
                                    width: 20px;
                                    font-size: 25px;
                                }
                            }

                        }
                    }
                }

                &.active {
                    transform: translateX(0);
                }
            }
        }
    }
}

.overlay {
    background: rgba(0, 0, 0, .55);
    inset: 0;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: 2;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}


/*-------------Responsive-------------*/
@media screen and (max-width: 1440px) {
    section.showBlog {
        .bg {
            margin: 9px 7px;
        }

        .nav {
            .logoHeader {
                .img-logoHeader {
                    width: 150px;
                }
            }
        }

        .card {
            .bg-blog {
                min-height: 630px;

                .text-blog {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    position: absolute;
                    top: 44px;
                }

                .main-card {
                    .blogBox {
                        width: 73%;

                        .item-blog {
                            margin: 5px;
                            display: block;
                            width: 293px;
                            height: 410px;

                            .textBox-itemBlog {
                                .titr-itemBlog {
                                    font-size: 19px;
                                    transform: translateY(104px);
                                }

                                .text-itemBlog {
                                    font-size: 13.5px;
                                }

                                &:hover {
                                    .titr-itemBlog {
                                        font-size: 21px;
                                    }
                                }
                            }
                        }
                    }

                    .filter {
                        width: 290px;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    section.showBlog {
        .bg {
            margin: 9px 5px;
        }

        .card {
            .bg-blog {
                .main-card {
                    .blogBox {
                        grid-template-columns: repeat(2, 1fr);
                        justify-items: center;
                        width: 70%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section.showBlog {
        .card {
            .bg-blog {
                min-height: 645px;

                .main-card {
                    flex-direction: column;
                    align-items: center;

                    .filter {
                        width: 290px;
                        display: none;
                    }

                    #filterBtn {
                        display: block;
                    }

                    .blogBox {
                        width: 92%;

                        .item-blog {
                            width: 290px;
                            height: 375px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    section.showBlog {
        .nav {
            padding: 0 18px;
        }

        .bg {
            margin: 9px 2px;
        }

        .card {
            .bg-blog {
                width: 97%;

                .back {
                    left: 30px;
                    font-size: 15px;
                }

                .main-card {
                    #filterBtn {
                        top: -10px;
                        right: 2px;
                        width: 85%;
                    }

                    .blogBox {
                        width: 86%;
                        top: 123px;
                        grid-template-columns: repeat(1, 1fr);
                    }
                }

                .text-blog {
                    font-size: 21px;
                    top: 55px;
                }

                .pagination-small {
                    display: flex !important;

                    li:not(:last-child) {
                        margin-left: 0;
                    }

                    li {
                        .link.arrow {
                            font-size: 15px;

                            .icon {
                                width: 40px;
                                height: 40px;
                            }
                        }

                        .link.arrow.next {
                            padding-right: 0;

                            .icon {
                                margin-left: 5px;
                            }
                        }

                        .link.arrow.prev {
                            padding-left: 0;

                            .icon {
                                margin-right: 5px;
                            }
                        }

                        .link {
                            width: 40px;
                            height: 40px;
                            font-size: 15px;
                        }
                    }
                }

                .pagination {
                    display: none !important;
                }
            }
        }

        ul.breadcrumb {
            padding-right: 15px;
        }
    }

}

@media screen and (max-width: 375px) {
    section.showBlog {

        &::after,
        &::before {
            display: none;
        }

        .bg {
            margin: 0;
            width: 100%;
            height: 100vh;
            border-radius: 0;
        }

        section.showBlog .nav {
            padding: 0 5px;
        }

        .card {
            .bg-blog {
                width: 101%;

                .main-card {
                    .blogBox {
                        width: 102%;
                    }

                    #filterBtn {
                        top: -10px;
                        right: 0;
                        width: 95%;
                    }
                }

                .social {
                    .item-social {
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    section.showBlog {

        &::after,
        &::before {
            display: none;
        }

        .bg {
            margin: 0;
            width: 100%;
            height: 100vh;
            border-radius: 0;
        }

        .nav {
            .logoHeader {
                .img-logoHeader {
                    width: 112px;
                }
            }

            .lang {
                .text-lang {
                    font-size: 15px;
                }

                .flag {
                    margin: -1px 2px -1px;
                    width: 25px;
                    height: 20px;
                }
            }
        }

        .card {
            .bg-blog {
                width: 108%;

                .back {
                    left: 25px;
                    top: 28px;
                    font-size: 14px;
                }

                .text-blog {
                    font-size: 20px;
                    top: 65px;
                }

                .main-card {
                    #filterBtn {
                        width: 105%;
                    }

                    .blogBox {
                        width: 115%;
                        top: 135px;
                    }
                }

                .pagination-small {
                    li {
                        .link.arrow {
                            width: 72px;
                        }
                    }
                }
            }
        }
    }
}